*{
	text-align: center;
}
body{
	background-image: url("blue_sky.jpg");
	repeat: no-repeat;
	background-size: cover;
}	

h1 {
	color: #ffd633;
	font-family: Georgia; font-size: 5em;
}

h2 {
	color: #ff8c1a;
	font-family: Georgia; font-size: 3em;

}

.p_intro {
	color: #ff1ac6;
	font-family: Georgia; font-size: 2em;
}