*{
	text-align: center;
}


body{
	padding-top: 70px;
	background-image: url("blue_sky.jpg");
	background-size: cover;
}	

h1 {
	color: #ffd633;
	font-family: Georgia; font-size: 5em;
}

h2 {
	color: #ff8c1a;
	font-family: Georgia; font-size: 3em;

}

.p_intro {
	color: #ffd633;
	font-family: Georgia; font-size: 2em;
}

#orange {
	color:#ff8c1a;
	font-family: Georgia; font-size: 2em;
}

.quote {
	color: #ffd633;
	font-family: Lucida; font-size: 2em;
}

a {
	color: #ff8c1a;
	font-family: Georgia; font-size: 2em;
}
	a:visited { color: #ff3399;

	}
#passion_life_work {
	color:#00cccc;
	text-shadow: -1px 0 #ff8c1a, 0 1px #ff8c1a, 1px 0 #ff8c1a, 0 -1px #ff8c1a;
	font-size:2.5em;
}
#click_image {
	color: #ff8c1a;
	font-size:2em; font-family: Georgia;
}
blockquote{
	color:#ff3399;
	font-size:2.5em; font-family: Lucida;

}











